.p_footer{
  text-align: right;
  color: white;
  margin-right: 1%;
}

.div_body{
  color: white;
  margin: 5%;
  margin-top: 1%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/videoGame.jpg");
  background-repeat: no-repeat;
}

@media only screen and (min-width: 2000px){
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/videoGame.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*NAVBAR*/
.topnav {
  overflow: hidden;
  background-color: purple;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
  margin-left: 20%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:50px;
   background: purple;
}
.gameIcon{
  margin: 2%;
  margin-top: 7%;
  width: 350px;
  height: 350px;
}
@media only screen and (max-width: 1349px){
  .gameIcon{
    width: 250px;
    height: 250px;
  }
}
.gameIcon:hover{
  filter: grayscale(100%);
}
.score_div{
  background: black;
  height:auto ;
  width:350px; 
 
}