.p_footer{
  text-align: right;
  color: white;
  margin-right: 1%;
}

.div_body{
  color: white;
  margin: 5%;
  margin-top: 1%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../img/videoGame.jpg");
  background-repeat: no-repeat;
}

/*NAVBAR*/
.topnav {
  overflow: hidden;
  background-color: purple;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 25px;
  margin-left: 20%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

footer{
  position:absolute;
   bottom:0;
   width:100%;
   height:40px;
   background: purple;
}
.gameIcon{
  margin: 2%;
}
.gameIcon:hover{
  filter: grayscale(100%);
  background: url(https://media0.giphy.com/media/3ohs80DvuPm7my9Ev6/giphy.gif);
}
.score_div{
  background: black;
  padding: 200px;
}
/*loading icon*/
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid purple;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}